
<div class="ui-g">
  <div class="ui-g-12">
    <h1>Novo Funcionario-contatos</h1>
    </div>
</div>

<div class="contai">

<form> <br>
    <div>
        <label >Nome:</label>
        <input pInputText type="text" name="nome" class="form-control">
    </div><br>

    <div class="form-group">
          <label >Cargo:</label>
      <select class="form-control">
        <option value="">Selecione</option>
        <option >Front-end</option>
        <option >back-end</option>
      </select>
    </div> <br>

    <div>
      <label >Email:</label>
      <input pInputText type="text" name="email" class="form-control">
  </div><br>
  <div>
    <label >Telefone:</label>
    <input pInputText type="text" name="telefone" class="form-control">
</div><br>
     <p-button label="Salvar" ></p-button>
</form>

</div>
